In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
file_path = "Resources/HR-Employee-Attrition.csv"
attrition_df = pd.read_csv(file_path)
attrition_df.head()

C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\benni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [10]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
1102/1102 [==============================] - 0s 144us/sample - loss: 1210.1231 - acc: 0.1724
Epoch 2/100
1102/1102 [==============================] - 0s 34us/sample - loss: 179.2728 - acc: 0.4610
Epoch 3/100
1102/1102 [==============================] - 0s 36us/sample - loss: 22.3639 - acc: 0.8122
Epoch 4/100
1102/1102 [==============================] - 0s 35us/sample - loss: 13.0879 - acc: 0.7677
Epoch 5/100
1102/1102 [==============================] - 0s 34us/sample - loss: 10.1036 - acc: 0.7786
Epoch 6/100
1102/1102 [==============================] - 0s 35us/sample - loss: 7.7457 - acc: 0.7595
Epoch 7/100
1102/1102 [==============================] - 0s 43us/sample - loss: 6.0587 - acc: 0.7595
Epoch 8/100
1102/1102 [==============================] - 0s 39us/sample - loss: 4.6586 - acc: 0.7559
Epoch 9/100
1102/1102 [==============================] - 0s 35us/sample - loss: 3.6098 - acc: 0.7568
Epoch 10/100
1102/1102 [==============================] - 0s 36us/sample - loss: 2.4595 - acc: 0.7695
Epoch 11/100
1102/1102 [==============================] - 0s 34us/sample - loss: 1.7365 - acc: 0.7604
Epoch 12/100
1102/1102 [==============================] - 0s 34us/sample - loss: 1.5501 - acc: 0.7559
Epoch 13/100
1102/1102 [==============================] - 0s 36us/sample - loss: 1.3010 - acc: 0.7550
Epoch 14/100
1102/1102 [==============================] - 0s 53us/sample - loss: 1.1820 - acc: 0.7686
Epoch 15/100
1102/1102 [==============================] - ETA: 0s - loss: 2.2942 - acc: 0.718 - 0s 34us/sample - loss: 1.5929 - acc: 0.7423
Epoch 16/100
1102/1102 [==============================] - 0s 35us/sample - loss: 1.2538 - acc: 0.7668
Epoch 17/100
1102/1102 [==============================] - 0s 34us/sample - loss: 1.5208 - acc: 0.7595
Epoch 18/100
1102/1102 [==============================] - 0s 35us/sample - loss: 1.0226 - acc: 0.7750
Epoch 19/100
1102/1102 [==============================] - 0s 36us/sample - loss: 1.4042 - acc: 0.7495
Epoch 20/100
1102/1102 [==============================] - 0s 37us/sample - loss: 1.0424 - acc: 0.7486
Epoch 21/100
1102/1102 [==============================] - 0s 32us/sample - loss: 1.0537 - acc: 0.7595
Epoch 22/100
1102/1102 [==============================] - 0s 60us/sample - loss: 1.0033 - acc: 0.7514
Epoch 23/100
1102/1102 [==============================] - 0s 45us/sample - loss: 1.3312 - acc: 0.7604
Epoch 24/100
1102/1102 [==============================] - 0s 32us/sample - loss: 1.3066 - acc: 0.7623
Epoch 25/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.9037 - acc: 0.7650
Epoch 26/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.1006 - acc: 0.7495
Epoch 27/100
1102/1102 [==============================] - 0s 34us/sample - loss: 1.5287 - acc: 0.7577
Epoch 28/100
1102/1102 [==============================] - 0s 36us/sample - loss: 1.1004 - acc: 0.7523
Epoch 29/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.7398 - acc: 0.7840
Epoch 30/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.0195 - acc: 0.7577
Epoch 31/100
1102/1102 [==============================] - 0s 32us/sample - loss: 1.1507 - acc: 0.7677
Epoch 32/100
1102/1102 [==============================] - 0s 32us/sample - loss: 1.1685 - acc: 0.7477
Epoch 33/100
1102/1102 [==============================] - 0s 36us/sample - loss: 1.5647 - acc: 0.7405
Epoch 34/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.7717 - acc: 0.7750
Epoch 35/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.6598 - acc: 0.7904
Epoch 36/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.7684 - acc: 0.7795
Epoch 37/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.8615 - acc: 0.7668
Epoch 38/100
1102/1102 [==============================] - 0s 36us/sample - loss: 1.0956 - acc: 0.7650
Epoch 39/100
1102/1102 [==============================] - 0s 31us/sample - loss: 0.7988 - acc: 0.7740
Epoch 40/100
1102/1102 [==============================] - 0s 30us/sample - loss: 0.6663 - acc: 0.8004
Epoch 41/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.6254 - acc: 0.8013
Epoch 42/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.0746 - acc: 0.7604
Epoch 43/100
1102/1102 [==============================] - 0s 40us/sample - loss: 1.2527 - acc: 0.7505
Epoch 44/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.1348 - acc: 0.7641
Epoch 45/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.9717 - acc: 0.7641
Epoch 46/100
1102/1102 [==============================] - 0s 32us/sample - loss: 1.6045 - acc: 0.7486
Epoch 47/100
1102/1102 [==============================] - 0s 31us/sample - loss: 0.8882 - acc: 0.7668
Epoch 48/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.1085 - acc: 0.7377
Epoch 49/100
1102/1102 [==============================] - 0s 35us/sample - loss: 1.3202 - acc: 0.7613
Epoch 50/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.2651 - acc: 0.7459
Epoch 51/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.6094 - acc: 0.8122
Epoch 52/100
1102/1102 [==============================] - 0s 30us/sample - loss: 1.1864 - acc: 0.7604
Epoch 53/100
1102/1102 [==============================] - 0s 31us/sample - loss: 0.6857 - acc: 0.8031
Epoch 54/100
1102/1102 [==============================] - 0s 31us/sample - loss: 0.9052 - acc: 0.7759
Epoch 55/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.9907 - acc: 0.7632
Epoch 56/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.9010 - acc: 0.7686
Epoch 57/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.9997 - acc: 0.7514
Epoch 58/100
1102/1102 [==============================] - 0s 34us/sample - loss: 1.2516 - acc: 0.7822
Epoch 59/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.6353 - acc: 0.7967
Epoch 60/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.5929 - acc: 0.7804
Epoch 61/100
1102/1102 [==============================] - 0s 30us/sample - loss: 0.5675 - acc: 0.8049
Epoch 62/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.7031 - acc: 0.7840
Epoch 63/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.8483 - acc: 0.7387
Epoch 64/100
1102/1102 [==============================] - 0s 33us/sample - loss: 0.8290 - acc: 0.7940
Epoch 65/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.7441 - acc: 0.7840
Epoch 66/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.7239 - acc: 0.7822
Epoch 67/100
1102/1102 [==============================] - 0s 35us/sample - loss: 0.9849 - acc: 0.7759
Epoch 68/100
1102/1102 [==============================] - 0s 36us/sample - loss: 0.5295 - acc: 0.8194
Epoch 69/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.8174 - acc: 0.7868
Epoch 70/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.7871 - acc: 0.7949
Epoch 71/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.6389 - acc: 0.7940
Epoch 72/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.6942 - acc: 0.7931
Epoch 73/100
1102/1102 [==============================] - 0s 34us/sample - loss: 1.2875 - acc: 0.7505
Epoch 74/100
1102/1102 [==============================] - 0s 38us/sample - loss: 0.8040 - acc: 0.7840
Epoch 75/100
1102/1102 [==============================] - 0s 32us/sample - loss: 1.0487 - acc: 0.7686
Epoch 76/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.9813 - acc: 0.7731
Epoch 77/100
1102/1102 [==============================] - 0s 37us/sample - loss: 0.6473 - acc: 0.7958
Epoch 78/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.7239 - acc: 0.7976
Epoch 79/100
1102/1102 [==============================] - 0s 36us/sample - loss: 0.8797 - acc: 0.7813
Epoch 80/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.7612 - acc: 0.7831
Epoch 81/100
1102/1102 [==============================] - 0s 33us/sample - loss: 0.6802 - acc: 0.7985
Epoch 82/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.6929 - acc: 0.7913
Epoch 83/100
1102/1102 [==============================] - 0s 31us/sample - loss: 1.0391 - acc: 0.7750
Epoch 84/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.9438 - acc: 0.7695
Epoch 85/100
1102/1102 [==============================] - 0s 33us/sample - loss: 1.6828 - acc: 0.7359
Epoch 86/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.5984 - acc: 0.8113
Epoch 87/100
1102/1102 [==============================] - 0s 30us/sample - loss: 0.5613 - acc: 0.8040
Epoch 88/100
1102/1102 [==============================] - 0s 30us/sample - loss: 0.4946 - acc: 0.8185
Epoch 89/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.7402 - acc: 0.7913
Epoch 90/100
1102/1102 [==============================] - 0s 31us/sample - loss: 0.8112 - acc: 0.7813
Epoch 91/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.7135 - acc: 0.7949
Epoch 92/100
1102/1102 [==============================] - 0s 32us/sample - loss: 0.5106 - acc: 0.8294
Epoch 93/100
1102/1102 [==============================] - 0s 30us/sample - loss: 0.7123 - acc: 0.7813
Epoch 94/100
1102/1102 [==============================] - 0s 34us/sample - loss: 0.7302 - acc: 0.7877
Epoch 95/100
1102/1102 [==============================] - 0s 56us/sample - loss: 0.7835 - acc: 0.7777
Epoch 96/100
1102/1102 [==============================] - 0s 64us/sample - loss: 0.7027 - acc: 0.8004
Epoch 97/100
1102/1102 [==============================] - 0s 97us/sample - loss: 0.9627 - acc: 0.7868
Epoch 98/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.6962 - acc: 0.7958
Epoch 99/100
1102/1102 [==============================] - 0s 30us/sample - loss: 0.7136 - acc: 0.7995
Epoch 100/100
1102/1102 [==============================] - 0s 30us/sample - loss: 0.8820 - acc: 0.7586

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

368/368 - 0s - loss: 0.4831 - acc: 0.8668
Loss: 0.4830658128080161, Accuracy: 0.866847813129425